@page "/posts/add"
@inject NavigationManager NavigationManager
@layout MainLayout

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="editor">
                <input @bind=@Title placeholder="Title" class="form-control" />
                <textarea @bind=@Content placeholder="Content"></textarea>
                <button class="btn btn-primary float-right" @onclick="@AddBlogPost">Post</button>
            </div>
        </div>
    </div>
</div>

@code {
    string Title { get; set; }
    string Content { get; set; }

    IList<BlogPost> BlogPosts = new List<BlogPost>();
    // todo: i need to persist this somehow
    void AddBlogPost()
    {
        BlogPosts.Add(new BlogPost
        {
            Id = 1,
            Title = Title,
            Content = Content
        });
        NavigationManager.NavigateTo($"/posts/{BlogPosts[0].Id}");
    }
}
