@page "/posts/add"
@inject NavigationManager NavigationManager
@layout MainLayout

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="editor">
                <input @bind=@Title placeholder="Title" class="form-control" />
                <textarea rows="50" cols="100" @bind=@RawContent placeholder="Content"></textarea>
                <button class="btn btn-primary float-right" @onclick="@Add">Post</button>
            </div>
        </div>
    </div>
</div>

@if (ProcessedContent.Value != null && Title != null)
{
    <div>
        <h1>@Title</h1>
    </div>
    <br/>
    <div>
        @ProcessedContent
    </div>
}

@code {
    private MarkdownPipeline builder = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseFootnotes()
        .Build();

    private string Title { get; set; }
    private string RawContent { get; set; }
    private MarkupString ProcessedContent { get; set; }

    private void Add() => ProcessedContent = (MarkupString) (Markdown.ToHtml(RawContent, builder));
}
