@page "/posts"
@layout MainLayout

<div>
    @foreach (var post in Posts)
    {
    <div>
        <NavLink href="@($"posts/{post.Id}")"></NavLink>
        <a href="posts/@post.Id">View</a>
        <p>@post.Title</p>
        <p>@post.Content</p>
    </div>
    }
</div>

@code {
    IList<BlogPost> Posts;

    protected override void OnInitialized()
    {
        Posts = new List<BlogPost>
        {
            new BlogPost
            {
                Id = 1,
                Title = "Title 1",
                Content = "Content 1"
            },
            new BlogPost
            {
                Id = 2,
                Title = "Title 2",
                Content = "Content 2"
            },
            new BlogPost
            {
                Id = 3,
                Title = "Title 3",
                Content = "Content 3"
            },
        };
    }

}
