@page "/posts/{Id:int}"
@layout MainLayout

<div class="container">
    <p>@Post.Id</p>
    <br/>
    <p>@Post.Title</p>
    <br/>
    <p>@((MarkupString)Post.Content)</p>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public BlogPost Post;

    protected override void OnInitialized()
    {
        Post = new BlogPost
        {
            Id = Id,
            Title = "Title",
            Content = "tralala"
        };
    }

}
